body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#logo {
    margin-top: 25px;
}

#quote {
    margin-top: 10px;
    font-style: italic;
    font-family: "Shadows Into Light Two", cursive;
    padding-top: 50px;
}

#subquote {
    margin-top: 10px;
    font-style: italic;
    font-family: "Shadows Into Light Two", cursive;
    color: rgb(64, 255, 47);
}

#title {
    margin-top: 50px;
    font-size: 40px;
}

#disi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 3px solid white;
    width: 25%;
    padding: 10px;
    align-self: center;
    margin: 50px auto 0 auto; 
}

.playbutton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#moregames {
    margin-top: 50px;
    font-size: 30px;
}

.socials {
    bottom: 25px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.socials a {
    font-size: 36px;
    text-decoration: none;
    transition: 0.3s ease;
}

.yt { color: #dcdcdc; }
.dc { color: #dcdcdc; }
.pt { color: #dcdcdc; }

.socials a:hover {
    transform: scale(1.2);
}